.all{
    display: flex;
    justify-content: space-between;
    background-image: url("2.jpg");
    background-size: 100%;
    height: 100vh;
}

.vdo{
    padding: 15px;
}
    

.img{
    padding: 15px;
   
}
